@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Shadows+Into+Light&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Bangers&family=Bebas+Neue&family=Shadows+Into+Light&display=swap");
* {
  margin: 0%;
  padding: 0%;
  box-sizing: border-box; }

.header {
  height: 20vh;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-bottom: 30px;
  overflow: hidden; }

body {
  height: 70vh;
  width: 100%;
  font-family: "Shadows Into Light";
  background-image: linear-gradient(to right, black, grey);
  color: white;
  line-height: 1.5; }

.footer {
  height: 10vh;
  font-family: cursive;
  background-image: linear-gradient(to right, black, grey);
  color: white;
  font-size: 20px;
  font-weight: 500;
  margin-top: 30px;
  overflow: hidden; }
  .footer .p-footer {
    display: flex;
    justify-content: center; }
  .footer .redes {
    display: flex;
    justify-content: space-evenly;
    list-style: none;
    transition: all 3s;
    margin-top: 10px; }
    .footer .redes .facebook {
      border-radius: 25px; }
      .footer .redes .facebook:hover {
        transform: scale(1.2); }
    .footer .redes .whatsapp {
      border-radius: 25px; }
      .footer .redes .whatsapp:hover {
        transform: scale(1.2); }
    .footer .redes .instagram {
      border-radius: 25px; }
      .footer .redes .instagram:hover {
        transform: scale(1.2); }

.iconos, .whatsapp, .instagram, .facebook {
  background-color: linear-gradient(to right, black, grey);
  font-size: 2rem; }

.whatsapp:hover {
  transform: scale(1.2);
  background-color: #ffffff; }

.instagram:hover {
  transform: scale(1.2);
  background-color: #ff0000; }

.facebook:hover {
  transform: scale(1.2);
  background-color: #0004f3; }

.frase {
  color: #b2c55d;
  font-style: italic; }

.Nav {
  height: 10vh;
  background-image: linear-gradient(to right, black, grey);
  position: sticky; }
  .Nav .nav__links {
    font-weight: 500;
    border-bottom: 3.5px;
    font-size: 24px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    list-style: none;
    text-decoration: none; }
    .Nav .nav__links:hover {
      transition: 1s ease-in-out;
      font-size: 40px;
      font-style: oblique; }
  .Nav .nav__items {
    display: inline-block; }
    .Nav .nav__items .nav__links--active {
      color: blue; }
    .Nav .nav__items .nav__links--active2 {
      color: blue; }
    .Nav .nav__items .nav__links--active3 {
      color: white; }
    .Nav .nav__items .nav__links--active4 {
      color: red; }
    .Nav .nav__items .nav__links--active6 {
      color: red; }

/*MAIN*/
.main__titulo--active {
  display: flex;
  justify-content: start;
  align-items: center;
  font-size: 80px;
  text-decoration-line: underline;
  text-transform: uppercase; }

.main2__titulo--all {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 70px;
  text-decoration-line: underline;
  text-transform: uppercase; }

.h2 {
  text-align: center;
  font-size: 40px; }

.p {
  height: auto;
  width: auto;
  align-items: center;
  font-size: 25px;
  border: 1px solid aqua;
  margin: 10px 10px 20px 10px;
  overflow: visible; }

.flex-img {
  height: 40vh;
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-around; }
  .flex-img .foto {
    border: 1px solid azure;
    overflow: auto; }

.kb8 {
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  margin-top: 70px; }
  .kb8 .ajuste-video {
    display: grid;
    justify-content: center;
    align-content: center; }

.frase {
  display: flex;
  height: 100%;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
  font-size: 25px;
  font-weight: 200; }

.gridshoes {
  height: 100%;
  width: 70%;
  display: grid;
  grid-template-areas: "zapa-1 zapa-2"  "zapa-3 zapa-4"  "zapa-5 zapa-6" "zapa-7 zapa-8";
  grid-template-columns: 2fr 2fr;
  grid-template-rows: 1fr 1fr;
  column-gap: 10px;
  row-gap: 10px;
  justify-items: center;
  align-items: center;
  margin: 0 auto; }
  .gridshoes .gridshoes__zapa {
    border: 5px solid khaki;
    border-radius: 5px;
    box-shadow: 5px 5px 20px #f5f5f56c; }
    .gridshoes .gridshoes__zapa .gridshoes__zapa--1 {
      grid-area: "zapa-1"; }
    .gridshoes .gridshoes__zapa .gridshoes__zapa--2 {
      grid-area: "zapa-2"; }
    .gridshoes .gridshoes__zapa .gridshoes__zapa--3 {
      grid-area: "zapa-3"; }
    .gridshoes .gridshoes__zapa .gridshoes__zapa--4 {
      grid-area: "zapa-4"; }
    .gridshoes .gridshoes__zapa .gridshoes__zapa--5 {
      grid-area: "zapa-5"; }
    .gridshoes .gridshoes__zapa .gridshoes__zapa--6 {
      grid-area: "zapa-6"; }
    .gridshoes .gridshoes__zapa .gridshoes__zapa--7 {
      grid-area: "zapa-7"; }
    .gridshoes .gridshoes__zapa .gridshoes__zapa--8 {
      grid-area: "zapa-8"; }

.scale:hover {
  transform: scale(1, 1.1);
  transition: all 1s; }

.grid-accesorios {
  height: 100%;
  width: 70%;
  display: grid;
  grid-template-areas: " b-1 b-2 b-3 " "b-4 b-5 b-6"     " r-7 r-8 r-9"  "r-10 r-11 r-12"  "g-13 g-14 g-15" "g-16 g-17 g-18 " "m-19 m-20 m-21 "     "m-22 m-23 m-24";
  grid-template-columns: 3fr 3fr 3fr;
  grid-template-rows: repeat(8, 1fr);
  column-gap: 10px;
  row-gap: 20px;
  justify-items: center;
  margin: 0 auto; }
  .grid-accesorios .grid__acc {
    border: 5px solid khaki;
    border-radius: 5px;
    /*BALLS*/
    /*T-SHIRTS*/
    /*GORRAS*/
    /*BOLSOS*/ }
    .grid-accesorios .grid__acc .grid__acc--1 {
      grid-area: "b-1"; }
    .grid-accesorios .grid__acc .grid__acc--2 {
      grid-area: "b-2"; }
    .grid-accesorios .grid__acc .grid__acc--3 {
      grid-area: "b-3"; }
    .grid-accesorios .grid__acc .grid__acc--4 {
      grid-area: "b-4"; }
    .grid-accesorios .grid__acc .grid__acc--5 {
      grid-area: "b-5"; }
    .grid-accesorios .grid__acc .grid__acc--6 {
      grid-area: "b-6"; }
    .grid-accesorios .grid__acc .grid__acc--8 {
      grid-area: "r-7"; }
    .grid-accesorios .grid__acc .grid__acc--9 {
      grid-area: "r-8"; }
    .grid-accesorios .grid__acc .grid__acc--10 {
      grid-area: "r-9"; }
    .grid-accesorios .grid__acc .grid__acc--11 {
      grid-area: "r-10"; }
    .grid-accesorios .grid__acc .grid__acc--12 {
      grid-area: "r-11"; }
    .grid-accesorios .grid__acc .grid__acc--13 {
      grid-area: "r-12"; }
    .grid-accesorios .grid__acc .grid__acc--16 {
      grid-area: "g-13"; }
    .grid-accesorios .grid__acc .grid__acc--17 {
      grid-area: "g-14"; }
    .grid-accesorios .grid__acc .grid__acc--18 {
      grid-area: "g-15"; }
    .grid-accesorios .grid__acc .grid__acc--19 {
      grid-area: "g-16"; }
    .grid-accesorios .grid__acc .grid__acc--21 {
      grid-area: "g-17"; }
    .grid-accesorios .grid__acc .grid__acc--21 {
      grid-area: "g-18"; }
    .grid-accesorios .grid__acc .grid__acc--22 {
      grid-area: "m-19"; }
    .grid-accesorios .grid__acc .grid__acc--23 {
      grid-area: "m-20"; }
    .grid-accesorios .grid__acc .grid__acc--24 {
      grid-area: "m-21"; }
    .grid-accesorios .grid__acc .grid__acc--25 {
      grid-area: "m-22"; }
    .grid-accesorios .grid__acc .grid__acc--26 {
      grid-area: "m-23"; }
    .grid-accesorios .grid__acc .grid__acc--27 {
      grid-area: "m-24"; }

/*CONTACTOS*/
.contacto {
  height: 70vh;
  font-size: 40px;
  margin-top: 70px; }
  .contacto .btn {
    font-size: 25px; }
  .contacto .texto {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px; }

.grid-loc {
  display: grid;
  justify-content: center;
  align-content: center;
  width: 100%;
  text-align: center;
  font-size: 40px; }
  .grid-loc .horarios {
    display: flex;
    justify-content: center;
    text-align: center;
    font-size: 50px;
    text-decoration: underline; }

/*NOTEBOOKS*/
@media screen and (max-width: 992px) {
  .responsive {
    font-weight: 500; }
  /*INDEX*/
  .p {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    line-height: 2;
    border: 3px solid red; }
  .img {
    display: flex;
    flex-wrap: wrap; }
  .foto {
    height: 30vh;
    width: auto;
    display: flex;
    justify-content: center;
    margin: 10px; }
  .ajuste-video {
    width: 50%;
    height: 75; }
  .frase {
    font-size: 25px;
    font-weight: 700;
    display: flex;
    justify-content: center; }
  .p2 {
    font-size: 25px;
    font-weight: 700;
    display: flex;
    justify-content: center; }
  /* SHOES-ACC-CONTACT-LOCATION*/
  .main2__titulo {
    display: flex;
    justify-content: center;
    align-items: center; } }

/*TABLET*/
@media screen and (max-width: 768px) {
  .responsive {
    font-family: cursive;
    font-weight: 200; }
  .logo {
    display: none; }
  /*PAGE SHOES*/
  .gridshoes {
    display: grid;
    grid-template-areas: "zapa-1" "zapa-2"  "zapa-3"  "zapa-4"  "zapa-5"  "zapa-6" "zapa-7"  "zapa-8";
    grid-template-columns: 1fr;
    width: 100%; }
  .scale:hover {
    transform: none;
    transition: none; }
  /*PAGE ACCESORIOS*/
  .grid-accesorios {
    display: grid;
    grid-template-areas: "b-1 b-2" "b-3 b-4"  "b-5 b-6"     "r-7 r-8"  "r-9 r-10"  "r-11 r-12"  "g-13 g-14" "g-15 g-16" "g-17 g-18 " "m-19 m-20"  "m-21 m-22" "m-23 m-24";
    grid-template-rows: repeat(12, 2fr);
    justify-content: center;
    display: flex;
    flex-wrap: wrap; }
  .main2__titulo--all {
    font-size: 50px; }
  .main__titulo {
    font-size: 50px; }
  .h2 {
    font-size: 40px; }
  .header {
    height: 50%;
    width: auto; }
  .nav__links {
    font-size: 20px;
    height: 100%;
    font-weight: 200; }
  .p {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 15px;
    border: 2px solid steelblue; }
  .img {
    display: flex;
    flex-wrap: wrap; }
  .foto {
    height: 40%;
    width: auto;
    display: flex;
    justify-content: center;
    margin: 10px; }
  .ajuste-video {
    width: 50%;
    height: 75; }
  .frase {
    font-size: 20px;
    display: flex;
    justify-content: center; }
  .p2 {
    font-size: 20px;
    display: flex;
    justify-content: center; }
  /*UBICACION*/
  .grid-loc {
    display: grid;
    justify-content: center;
    align-content: center;
    width: 100%;
    text-align: center;
    font-size: 20px; }
  .horarios {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
    font-size: 30px;
    text-decoration: underline; }
  .grid_contact {
    display: grid;
    justify-items: center;
    align-items: center;
    font-size: 32px;
    width: auto;
    height: 70vh;
    justify-content: center; }
  .input {
    display: flex;
    justify-content: center;
    font-size: 20px; }
  .input__txtarea {
    width: 100%; } }

/*MOBILE*/
@media screen and (max-width: 480px) {
  .responsive {
    font-family: cursive;
    font-weight: 100; }
  .logo {
    display: none; }
  .main__titulo {
    font-size: 35px; }
  .main2__titulo--all {
    font-size: 30px; }
  .h2 {
    font-size: 30px; }
  .header {
    display: flex;
    align-items: center;
    justify-items: center;
    height: 30%;
    width: auto; }
  .p {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 15px;
    border: 3px solid red; }
  .ajuste-video {
    width: 100%;
    height: 50%; }
  .frase {
    font-size: 20px;
    display: flex;
    align-content: center;
    justify-content: center; }
  .p2 {
    font-size: 20px;
    display: flex;
    justify-content: center; }
  .gridshoes {
    display: grid;
    grid-template-areas: "zapa-1" "zapa-2"  "zapa-3"  "zapa-4"  "zapa-5"  "zapa-6" "zapa-7"  "zapa-8";
    grid-template-columns: 1fr;
    width: 100%; }
  .grid-accesorios {
    display: grid;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-wrap: wrap; }
  .grid_contact {
    display: grid;
    justify-items: center;
    align-items: center;
    font-size: 32px;
    width: auto;
    height: 70vh;
    justify-content: center; }
  .input {
    display: flex;
    justify-content: center;
    font-size: 20px; }
  .input__txtarea {
    width: 100%; } }
