*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box; }

.header {
    height: 15vh;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 30px;
    &:hover {
        transition: all 4s ease-in;
        transform: scale(1.5, 1); 
}
}

body {
    height: 70vh;
    width: 100%;
    font-family: $tipografia;
    background-image: $gradiente;
    color: $white;
    line-height: 1.5;}

    .footer{  
        height: 10vh;   
        font-family: $cursiva;
        background-image: $gradiente;
        color : $white;
        font-size: 20px;
        font-weight: 500;
        margin-top: 30px;
        overflow: hidden;
        .p-footer {
            display: flex;
            justify-content: center;
            }
            .redes{
                display: flex;
                justify-content: center;                
                list-style: none;
                transition: all 0.5s ease;
                .facebook{
                    &:hover {
                        transform: scale(1.2);
                    }}
                .whatsapp{
                    &:hover {
                        transform: scale(1.2);
                    }}
                .instagram{
                    &:hover {
                        transform: scale(1.2);
                    }
                }
            }
    }
//extend
.iconos{
    background-color: rgb(116, 19, 19);
    font-size: 2rem;
    border: 2px solid wheat;
}

// Maps

    $sociales:(
        whatsapp: #008000,
        instagram: #c76306,
        facebook: #5a88bd,   
    );

@each $redes, $color in $sociales {
    .#{$redes}{
                &:hover {
                transform: scale(1.2);
                background-color: $color;
            }
            @extend .iconos
            
        }
};



//mixin
@mixin letra () {
    color: rgb(178, 197, 93);
    font-style: italic;
    
}

.frase{
    @include letra()
}

