*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box; }

.header {
    height: 20vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 30px;
    overflow: hidden ;
}


body {
    height: 70vh;
    width: 100%;
    font-family: $tipografia;
    background-image: $gradiente;
    color: $white;
    line-height: 1.5;}

    .footer{  
        height: 10vh;   
        font-family: $cursiva;
        background-image: $gradiente;
        color : $white;
        font-size: 20px;
        font-weight: 500;
        margin-top: 30px;
        overflow: hidden;
        .p-footer {
            display: flex;
            justify-content: center;
            }
            .redes{
                display: flex;
                justify-content: space-evenly;                
                list-style: none;
                transition: all 3s ;
                margin-top: 10px;
                


                .facebook{
                    border-radius: 25px;

                    &:hover {
                        transform: scale(1.2);
                    }}
                .whatsapp{
                    border-radius: 25px;
                    &:hover {
                        transform: scale(1.2);
                        
                    }
                }
                .instagram{
                    border-radius: 25px;
                    &:hover {
                        transform: scale(1.2);
                    
                    }
                }
            }
    }
//extend
.iconos{
    background-color: $gradiente;
    font-size: 2rem;
    
}

// Maps

    $sociales:(
        whatsapp: #ffffff,
        instagram: #ff0000,
        facebook: #0004f3,   
    );

@each $redes, $color in $sociales {
    .#{$redes}{
                &:hover {
                transform: scale(1.2);
                background-color: $color;
            }
            @extend .iconos
            
        }
};



//mixin
@mixin letra () {
    color: rgb(178, 197, 93);
    font-style: italic;
    
}

.frase{
    @include letra()
}

