/*MAIN*/
.main__titulo--active{
    display: flex;
    justify-content: start;
    align-items: center;
    font-size: 80px;
    text-decoration-line: underline; 
    text-transform: uppercase; 
}
.main2__titulo--all{
    display: flex;
    justify-content: center;
    align-items: center;    
    font-size: 70px;
    text-decoration-line: underline; 
    text-transform: uppercase; 
}  


