$gradiente: linear-gradient(to right, black, grey);
$tipografia: 'Shadows Into Light';
$white: white;
$sombra: 5px 5px 20px #f5f5f56c;
$bordes:  5px solid rgb(182, 182, 182);
$blue:blue;
$red: red;
$cursiva: cursive;
$aqua: 1px solid aqua;
$bordes-idx: 4px solid azure;
$red-px: 3px solid red;
$azul:2px solid steelblue;


