$gradiente: linear-gradient(to right, black, grey);
$tipografia: 'Shadows Into Light', cursive;
$white: white;
$sombra: 10px 10px 15px whitesmoke;
$bordes:  5px solid khaki;
$blue:blue;
$red: red;
$cursiva: cursive;
$aqua: 1px solid aqua;
$bordes-idx: 4px solid azure;
$red-px: 3px solid red;
$azul:2px solid steelblue;
